@inherits My.Talli.Web.ViewModels.Shared.BrandHeaderViewModel

<header class="brand-header">
    <div class="hero-bg" aria-hidden="true">
        <svg preserveAspectRatio="none" viewBox="0 0 1000 600" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="swooshGrad" x1="0" x2="1" y1="0" y2="1">
                    <stop offset="0%" stop-color="#6c5ce7" />
                    <stop offset="50%" stop-color="#8b5cf6" />
                    <stop offset="100%" stop-color="#6c5ce7" />
                </linearGradient>
            </defs>
            <path d="M0,0 L1000,0 L1000,320 C850,400 650,280 450,340 C250,400 100,360 0,300 Z" fill="url(#swooshGrad)" />
        </svg>
        <div class="deco-circle deco-circle-1"></div>
        <div class="deco-circle deco-circle-2"></div>
        <div class="deco-circle deco-circle-3"></div>
    </div>

    <div class="brand-bar">
        <span class="brand-logo">My<span>Talli</span></span>
        @if (ChildContent is not null)
        {
            @ChildContent
        }
    </div>
</header>
