@inherits LayoutComponentBase

@Body

<footer class="site-footer" role="contentinfo">
    <p>&copy; @LayoutHelper.CurrentYear MyTalli v@(LayoutHelper.VersionNumber) &mdash; All rights reserved.</p>
    <a href="mailto:hello@mytalli.com">hello@mytalli.com</a>
</footer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
